.error
{
   color:red;
}

.order-table{
	border-collapse:collapse;
}

.table-header{
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
}

.table-odd-row{
	background:none repeat scroll 0 0 #EEEEEE;
	border-top:1px solid #BBBBBB;
}

.table-even-row{
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}

#panelGrid {
    width: 100%;
}

.left-column {
    background-color: lightgreen;
    width: 15%;
}

.right-column {
    width: 35%;
}